@page
@using IndustrialSafety.Pages.Shared
@model IndustrialSafety.Pages.Admin.Commons.Regions.IndexModel

@{
    ViewData["Title"] = "Регионы";
}

<h1>Регионы</h1>

<p>
    <a asp-page="Create"><button type="button" class="btn btn-success">Создать</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            @foreach (var property in Model.Properties)
            {
                <th>@Model.GetDisplayName(property)</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Entities)
        {
            <tr>
                @foreach (var property in Model.Properties)
                {
                    <td>@Model.GetPropertyDisplayValue(item, property)</td>
                }
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-warning">Редактировать</button></a>
                    <a asp-page="./Details" asp-route-id="@item.Id"><button type="button" class="btn btn-primary">Подробнее</button></a>
                    <a asp-page="./Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger">Удалить</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>
