@page
@using IndustrialSafety.Pages.Shared
@model IndustrialSafety.Pages.Admin.Parties.People.IndexModel

@{
    ViewData["Title"] = "Персоны";
}

<h1>Персоны</h1>

<p>
    <a asp-page="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            @foreach (var property in Model.Properties)
            {
                <th>@Model.GetDisplayName(property)</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Entities)
        {
            <tr>
                @foreach (var property in Model.Properties)
                {
                    <td>@Model.GetPropertyDisplayValue(item, property)</td>
                }
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Подробнее</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
